@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Quicksand:wght@300..700&display=swap");

:root {
  /* body font override */
  --bs-font-sans-serif: "Quicksand", Roboto, sans-serif;
  font-size: 20px;

  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
}

#controls {
  width: 27rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 1rem auto;
}

#errors {
  margin: 0;
}

#errors-counter {
  color: red;
  font-weight: 600;
}

/* fixing double border in mode selector */
#medium {
  border-left: none;
  border-right: none;
}

#board {
  width: 27rem;
  height: 27rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#number-inputs {
  width: 27rem;
  height: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
}

.mode-selector {
  display: inline-flex;
  width: 15rem;
}

.mode-label {
  width: 5rem;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--gray-600);
  border-right: none;
}

.mode-selector>label:last-child {
  border-right: 1px solid var(--gray-600);
}

.mode-selector input:checked+.mode-label {
  background-color: var(--gray-200);
}

.mode-selector input {
  display: none;
}

.tile {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--gray-400);

  font-weight: 600;
}

.tile-prefilled {
  background-color: var(--gray-200);
}

.sector-edge-horizontal {
  border-bottom: 1px solid var(--gray-700);
}

.sector-edge-vertical {
  border-right: 1px solid var(--gray-700);
}

.number-input {
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;

  outline: 1px solid var(--gray-700);

  font-weight: 600;
}

.number-input-selected {
  background-color: var(--gray-200);
}

h1 {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--bs-gray-900);
  padding: .25rem 0;
}

body {
  text-align: center;
}